body{
    font-size: 12px;
}

.bl{
    color: #000;
}

.header{
    height: 56px;
    background: rgb(18, 167, 236);
    color: #fff;
}
.header i{
    line-height: 56px;
}
.header p{
    line-height: 56px;
}

.header-left{
    background: rgb(18, 145, 204);

}

.header-left p{
    margin: 0px;
    text-align: center;
}

.header-right{
    display: flex;
    justify-content: space-between;
}

.header-right p{
    margin: 0px;
}

.nav{
    height: 697px;
    background-color: #000;
    padding: 0;
}

.nav ul{
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav li{
    padding: 10px 0px;
    list-style: none;
    background: rgb(34, 42, 46);
    margin: 10px 5px;
}

.nav li a{
    color: #fff;
    padding-left: 15px;
}

.nav li a i{
    padding-right: 10px;
}


.content{
    background: #ebeef4;
}

.content>p{
    font-size: 24px;
    margin: 20px;
}

.content-container{
    background: #fff;
    margin: 0px 20px;
    position: relative;
    color: #fff;
}

#insert
{
    display: block;
    height: 34px;
    width: 100px;
    background: green;
    color: white;
    text-align: center;
    line-height: 34px;
    margin: 20px;
    text-decoration: none;
}

#insert:hover{
    color: #000;
}

#insert i{padding-right: 5px;}

table{
    margin: 20px;
}

.xanh{
    background: #20c2ee;
    padding: 3px;
    border-radius: 4px;
    color: #fff;
    
}

.update:hover,.delete:hover{
    text-decoration: none;
    color: #000;
}

.xanh i,.do i{
    padding-right: 5px;
}

.do{
    background: red;
    padding: 3px;
    border-radius: 4px;
    color: #fff;
}

.xam{
    background: #ccc;
    padding: 3px;
    border-radius: 4px;
    
}

.xx{display: inline-block;}


.modal1,.modal-update{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6);
}

.modal-content{
    background-color: #fff;
    margin: 15% auto;
    width: 30%;
    padding: 10px;
    color: #000;
}


.modal-content .title { 
    margin: 0px; height:25px;
	padding-top:5px; 
    padding-left:10px;
    padding-bottom: 30px;
    font-weight:bold; 
    text-transform:uppercase;
    border-bottom: 1px solid #000;
}

.close{
    float: right;
    font-size: 20px;
    font-weight: bold;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #000;
}

.close:hover{
    cursor: pointer;
}

form{margin-top:20px;}

form>p>span{
    display: inline-block;
    width: 120px;
    text-align: right;
    padding-right: 20px;
}

.submit{
    text-align: right;
}

button{
    background: green;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    margin: 5px;
}
#hinhanh{
    width: 120px;
    height: 80px;
}

#banner{
    width: 200px;
    height: 80px;
}

#preview-image{
    width: 120px;
    height: 80px;
}

#preview-banner{
    width: 200px;
    height: 80px;
}